$color_white: #ffffff;
$color_black: #000000;
$color_main_pink: #ffb8ca;
$color_secondary_pink: #ffa5ba;
$color_light_pink: #fff5f6;
$color_social_icons_pink: #fea5bb;
$color_red: #d41443;
$color_dark_red: #fea5bb;
$color_yellow: #f0d1a5;
$color_green: #c2e297;
$color_light_grey: #fafafa;
$color_grey: #d9d9d9;
$color_brown: #907e82;
$font_dm: "DM Sans", sans-serif;
$font_titan: "Titan One", sans-serif;
$mobile_s: 320px;
$mobile_l: 480px;
$tablet: 768px;
$desktop: 1280px;
$cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
